body {
    max-width:100%;
    word-wrap: break-word;
}

/*----------Get Recipes Page----------*/


.edit-recipe-button{
    height:35px;
    width:auto;
    margin:5px;
}


/*----------ADD Recipes Page----------*/

.title {
    background-color:lemonchiffon;
    margin-bottom: 10px;
}

.form-control{
    resize: vertical;
}

