

/*----------Get Recipes Page----------*/

.moreDetailsButton{
    color: white;
    background-color: lightblue;
}


/*----------ADD Recipes Page----------*/

.title {
    background-color:lemonchiffon;
    margin-bottom: 10px;
}

.form-control{
    resize:none;
}

