{% extends 'base.html' %} {% block content %}

<h2>Add a Recipe</h2>
<div class="title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Submit Recipe</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('insert_recipe') }}" method="POST"  class="col-sm-12">
        <div class="form-group">
            <label for="recipe_title">Recipe Title</label>
            <input type="text" class="form-control" id="recipe_title">
        </div>
        
        <div class="form-group">
            <label for="recipe_cuisine">Choose Cuisine</label>
            <select class="form-control" id="cuisine" name="recipe_cuisine">
                <option value="" disabled selected></option> <!-- This empty option is to allow the form to appear without a default cuisine -->
                {% for cuisine in cuisine %}
                      <option value="{{cuisine.recipe_cuisine}}">{{cuisine.recipe_cuisine}}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <label for="recipe_summary">Dish Summary</label>
            <textarea class="form-control" id="recipe_summary" rows="4"></textarea>
        </div>
        
        <div class="form-group">
            <label for="recipe_ingredients">Ingredients</label>
            <textarea class="form-control" id="recipe_ingredients" rows="4"></textarea>
        </div>
        
        <div class="form-group">
            <label for="recipe_instructions">Instructions</label>
            <textarea class="form-control" id="recipe_instructions" rows="6"></textarea>
        </div>
    
        <button type="submit" class="btn btn-submit">Submit Recipe</button>
    </form>
    
</div>




{% endblock %}
