{% extends 'base.html' %} {% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4 white-bg-styling">
            <h1>All Authors</h1>
            <p>There are {{authors|length}} authors in our online cook book.</p>
        </div>
    </div>
    <div class="row text-center">
        {% for author in authors %}
        <div class="col-md-3 col-sm-4 col-xs-6 white-bg-styling cuisine-title-column">
            <a href="{{ url_for("authors_recipes", author = author)}}">{{author}}</a>
        </div>
        {% endfor %}
    </div>
</div>








{% endblock %}
