{% extends 'base.html' %} {% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Cuisine Page</h1>
        </div>
    </div>
    <br> {% for cuisine in cuisine %}


    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="cuisineHeading">
                <h3>{{cuisine.recipe_cuisine}}</h3>
                <a href="{{url_for("delete_cuisine" , cuisine_id=cuisine._id)}}" class="btn btn-primary delete-cuisine-button">Remove Cuisine</a>
                <a href="{{url_for("edit_cuisine" , cuisine_id=cuisine._id)}}" class="btn btn-primary edit-cuisine-button">Edit Cuisine</a>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
