{% extends 'base.html' %} {% block content %}


        <div class="row">
            <div class="col-sm-12">
                <h2>Edit Cuisine</h2>
            </div>
        </div>

    <div class="row">
        <form action="{{ url_for('update_cuisine', cuisine_id=cuisine._id) }}" method="POST" class="col-sm-6">
            <div class="form-group">
                <label for="recipe_cuisine">Recipe Cuisine</label>
                <br>
                <input type="text" name="recipe_cuisine" id="recipe_cuisine" class="form-control" value="{{cuisine.recipe_cuisine}}" required/>
            </div>

            <button type="submit" class="btn btn-submit" method="POST">Submit Cuisine</button>
        </form>
    </div>



{% endblock %}
