{% extends 'base.html' %} {% block content %}

<h2>Edit Recipe</h2>
<div class="title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Edit Recipe</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-sm-6">
        <div class="form-group">
            <label for="recipe_title">Recipe Title</label>
            <br>
            <input type="text" name="recipe_title" id="recipe_title" class="form-control" value="{{recipe.recipe_title}}" required/>
        </div>

        <div class="form-group">
            <label for="recipe_cuisine">Choose Cuisine</label>
            <select class="form-control" id="cuisine" name="recipe_cuisine">
                <option value="" disabled selected></option> <!-- This empty option is to allow the form to appear without a default cuisine -->
                {% for c in cuisine %}
                    {% if c.recipe_cuisine == recipe.recipe_cuisine %}
                      <option value="{{c.recipe_cuisine}}" selected>{{c.recipe_cuisine}}</option>
                      {% else %}
                      <option value="{{c.recipe_cuisine}}">{{c.recipe_cuisine}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="recipe_summary">Dish Summary</label>
            <textarea type="text" name="recipe_summary" id="recipe_summary" class="form-control" rows "5" required>{{recipe.recipe_summary}}</textarea>
        </div>

        <div class="form-group">
            <label for="recipe_ingredients">Ingredients</label>
            <textarea type="text" name="recipe_ingredients" id="recipe_ingredients" class="form-control" rows "5" required>{{recipe.recipe_ingredients}}</textarea>
        </div>

        <div class="form-group">
            <label for="recipe_instructions">Instructions</label>
            <textarea name="recipe_instructions" id="recipe_instructions" class="form-control" rows "5" required>{{recipe.recipe_instructions}}</textarea>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label for="recipe_portion">Serves</label>
                <input type="number" name="recipe_portion" id="recipe_portion" class="form-control" min="1" max="16" value="{{recipe.recipe_portion}}" required/>
            </div>

            <div class="form-group col-sm-4">
                <label for="recipe_preparation_time">Prep-Time</label>
                <input type="number" name="recipe_preparation_time" id="recipe_preparation_time" class="form-control" min="1" max="9000" value="{{recipe.recipe_preparation_time}}" required/>
            </div>

            <div class="form-group col-sm-4">
                <label for="recipe_cooking_time">Cook-Time</label>
                <input type="number" name="recipe_cooking_time" id="recipe_cooking_time" class="form-control" min="1" max="9000" value="{{recipe.recipe_cooking_time}}" required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="recipe_difficulty">Difficulty Previously:{{recipe.recipe_difficulty}}</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="recipe_difficulty" id="recipe_difficulty_easy" value="Easy">
                    <label class="form-check-label" for="recipe_difficulty_easy">Easy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="recipe_difficulty" id="recipe_difficulty_medium" value="Medium">
                    <label class="form-check-label" for="recipe_difficulty_medium">Medium</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="recipe_difficulty" id="recipe_difficulty_hard" value="Hard">
                    <label class="form-check-label" for="recipe_difficulty_hard">Hard</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-submit" method="POST">Submit Recipe</button>
    </form>

</div>




{% endblock %}
