{% extends 'base.html' %} 

{% block content %} 

    
    {% for recipe in recipes %}
        {% if recipe.recipe_status == "public" %}
        <div class="row">
            <div class="col-sm-6 white-bg-styling">
                <div id="recipeHeading">
                    <h1>{{recipe.recipe_title}}</h1>
                    <p>Submitted by: {{recipe.recipe_author}}</p>
                    <p>{{recipe.recipe_author}} has submitted their {{recipe.recipe_cuisine}} recipe for {{recipe.recipe_title}}
                    which they describe as {{recipe.recipe_difficulty}} to make. This should take you around {{recipe.recipe_preparation_time}}
                    minutes to prepare and {{recipe.recipe_cooking_time}} minutes to cook. You will then be able to make {{recipe.recipe_portion}}
                     portions.</p>
                </div>
                <div>
                    <a href="{{url_for("show_recipe" , recipe_id=recipe._id)}}" class="btn btn-custom edit-recipe-button">Show Recipe</a>
                    {% if recipe.recipe_editor == session["username"] %}
    
                    <a href="{{url_for("delete_recipe" , recipe_id=recipe._id)}}" class="btn btn-custom edit-recipe-button">Remove Recipe</a>
                    <a href="{{url_for("edit_recipe" , recipe_id=recipe._id)}}" class="btn btn-custom edit-recipe-button">Edit Recipe</a>
    
                    {% endif %}
                </div>
                
            </div>
        </div>
    
        <!--<div class="row">-->
        <!--    <div class="col-sm-6 ">-->
        <!--        <p>Cuisine: {{recipe.recipe_cuisine}}</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-6">-->
        <!--        <p>Difficulty: {{recipe.recipe_difficulty}}</p>-->
        <!--    </div>-->
        <!--</div>-->
    
        <!--<div class="row">-->
        <!--    <div class="col-sm-4 col-xs-4">-->
        <!--        <p>Serves: {{recipe.recipe_portion}}</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-4 col-xs-4">-->
        <!--        <p>Preparation: {{recipe.recipe_preparation_time}} minutes</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-4 col-xs-4">-->
        <!--        <p>Cooking Time: {{recipe.recipe_cooking_time}} minutes</p>-->
        <!--    </div>-->
        <!--</div>-->
        
        <!--<br>-->
    
        <!--<div class="row">-->
        <!--    <div class="col-sm-12">-->
        <!--        <p class="text_format">Summary: {{recipe.recipe_summary}}</p>-->
        <!--    </div>-->
        <!--</div>-->
        
        <!--<br>-->
        
        <!--<div class="row">-->
        <!--    <div class="col-sm-6 col-xs-12 ingredients_padding">-->
        <!--        <p class="text_format">Ingredients: {{recipe.recipe_ingredients}}</p>-->
        <!--    </div>-->
        <!--    <div class="col-sm-6 col-xs-12">-->
        <!--        <p class="text_format">Instructions: {{recipe.recipe_instructions}}</p>-->
        <!--    </div>-->
        <!--</div>-->
        
  



{% endif %}{% endfor %} {% endblock %}
