{% extends 'base.html' %} 

{% block content %}


{% for recipe in recipes %}
<div class="accordion" id="recipeAccordion">
    <div class="card">
        <div class="card-header" id="recipeHeading">
            <h1>{{recipe.recipe_title}}</h1>
        </div>
        <p>Serves: {{recipe.recipe_portion}}</p>
        <p>Difficulty: {{recipe.recipe_difficulty}}</p>
        <p>Preparation: {{recipe.recipe_preparation_time}} minutes</p>
        <p>Cooking Time: {{recipe.recipe_cooking_time}} minutes</p>
        <p>Cuisine: {{recipe.recipe_cuisine}}</p>
        <p>Summary: {{recipe.recipe_summary}}</p>
        <p>Ingredients: {{recipe.recipe_ingredients}}</p>
        <p>Instructions: {{recipe.recipe_instructions}}</p>
    </div>
</div>


{% endfor %} 


{% endblock %}
