{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-sm-6 white-bg-styling">
        <h1> Recipes By Author Page</h1>
    </div>

     <div class=" col-sm-6 white-bg-styling">
        {% for recipe in selected_authors_recipes %}
        <h3>Title: {{recipe.recipe_title}}</h3>
        <p>Summary: {{recipe.recipe_summary}}</p>
        <a href="{{url_for("show_recipe" , recipe_id=recipe._id)}}" class="btn btn-primary edit-recipe-button">Show Recipe</a>
    </div>

</div>
{% endfor %} {% endblock %}
