{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="col-sm-6 white-bg-styling">
        <h1> Recipes By Author Page</h1>
    </div>

     <div class=" col-sm-6 white-bg-styling">
        {% for recipe in selected_authors_recipes %}
            {% if recipe.recipe_status == "public" %} <!-- This if statement allows recipes with the status 'public' to be viewed publicly -->
                <h3>Title: {{recipe.recipe_title}}</h3>
                <p>Summary: {{recipe.recipe_summary}}</p>
                <a href="{{url_for("show_recipe" , recipe_id=recipe._id)}}" class="btn btn-primary edit-recipe-button">Show Recipe</a>
            {% else %} <!-- This part of the if statement means everything else besides public won't be rendered.  -->
                <div class="col-sm-4 profile-recipe white-bg-styling">
                    <p>There are no recipes currently made public</p>
                </div>
    </div>
</div>

{% endif %}{% endfor %} {% endblock %}
