{% extends 'base.html' %} {% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Registration Page</h2>
            <form action="{{ url_for('register') }}" method=POST>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <div>
                <a href="{{ url_for('get_index') }}">Already registered?</a>
            </div>
        </div>
    </div>
    <div>
        
        
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %} {% endwith %} 
    </div>
</div>



{% endblock %}
