{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 white-bg-styling">
            <h2>Welcome to your profile page {{session["username"]}}</h2>
            <p>Would you like to  <a href="/add_recipe">add a recipe?</a></p>
        </div>
       

    </div>
   
    <div class="user-recipe-section">
        {% for recipe in recipes %} {% if recipe.recipe_editor == session["username"] %}

        <div class="col-sm-6 profile-recipe white-bg-styling">
                <p><b>Title:</b> {{recipe.recipe_title}}</p>
                <p><b>Cuisine:</b> {{recipe.recipe_cuisine.capitalize()}}</p>
                <p><b>Summary:</b> {{recipe.recipe_summary}}</p>
                <p><b>This recipe is:</b> {{recipe.recipe_status.capitalize()}}</p>
            <a href="{{url_for("edit_recipe" , recipe_id=recipe._id)}}" class="btn btn-primary edit-recipe-button">Edit Recipe</a> 
            <a href="{{url_for("delete_recipe" , recipe_id=recipe._id)}}" class="btn btn-primary edit-recipe-button">Remove Recipe</a>
            <a href="{{url_for("show_recipe" , recipe_id=recipe._id)}}" class="btn btn-primary edit-recipe-button">Show Recipe</a>
        </div>
        {% endif %}{% endfor %}
    </div>
</div>




{% endblock %}